@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400&family=Zen+Tokyo+Zoo&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit";
}

/* Page Styles */

h1 {
  font-weight: 400;
}

.App > .container {
  background: rgb(232, 236, 237);
  background: linear-gradient(
    45deg,
    rgba(214, 239, 245, 0.767) 50%,
    rgba(130, 220, 243, 0.486) 80%
  );
  max-width: 100vw;
  overflow-x: hidden;
}

.page {
  padding: 2em;
  width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1.25em;
  left: 1.25em;
  transition: height 150ms ease;
  z-index: 10;
}

.navigation > .button {
  border: 0.2em solid rgb(105, 165, 180);
  border-radius: 0.5em;
  height: 2.25em;
  width: 2.25em;
  display: flex;
  place-content: center;
  place-items: center;
}

.navigation > .button > .button-line-1 {
  width: 1em;
  height: 0.25em;
  background-color: rgb(105, 165, 180);
  border-radius: 0.5em;
  position: absolute;
  transition: rotate 150ms;
}

.navigation > .button > .button-line-2 {
  width: 1em;
  height: 0.25em;
  background-color: rgb(105, 165, 180);
  border-radius: 0.5em;
  rotate: 90deg;
  position: absolute;
  transition: rotate 150ms;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -10em;
  height: 100vh;
  background-color: white;
  width: 10em;
  box-shadow: 0 0 1em rgba(105, 165, 180, 0.719);
  transition: left 300ms ease;
}

.navigation-links-open {
  left: 0em;
}

.navigation-links > div > ul {
  list-style: none;
  position: relative;
  top: 5em;
  font-size: 1.25em;
  color: rgb(53, 91, 100);
}

.navigation-links > div > ul > li {
  margin: 1em 0 0 0;
  font-weight: 200;
  text-shadow: 0;
  cursor: pointer;
  transition: text-shadow 100ms ease;
}

.link {
  width: fit-content;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgb(53, 91, 100);
  height: 2px;
  width: 0%;
  transition: width 100ms ease;
}

.link:hover::after {
  width: 100%;
}

.navigation-links > div > ul > li:hover {
  text-shadow: 0 0 0.04em rgb(53, 91, 100);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.25em;
  font-size: 1.7em;
  position: absolute;
  bottom: 0.75em;
  margin-right: 0.25em;
}

.social-links > a {
  color: rgb(53, 91, 100);
  transition: color 100ms ease;
}

.social-links > a:hover {
  color: rgb(37, 64, 70);
}

/* Styles for splash */

.splash {
  /* border: 1px solid; */
  /* width: 20em; */
  white-space: pre-line;
}

.splash > h2 {
  font-family: "Zen Tokyo Zoo";
  font-size: 7em;
  font-weight: lighter;
  text-transform: uppercase;
}

.splash-paragraph {
  font-family: "Outfit";
  font-size: 2.05em;
  line-height: 1.75em;
}

.skill-set {
  font-size: 3em;
  display: flex;
  gap: 1em;
  justify-content: center;
  padding-top: 0.5em;
}

.html-icon {
  filter: drop-shadow(0.1em 0.1em 0.175em #ee4319)
    drop-shadow(-0.1em -0.1em 00.175em #f09143);
  color: rgba(0, 0, 0, 0.849);
}

.css-icon {
  filter: drop-shadow(0.1em 0.1em 0.175em #8dcdf5)
    drop-shadow(-0.1em -0.1em 0.175em #25436e);
  color: rgba(0, 0, 0, 0.849);
}

.javascript-icon {
  filter: drop-shadow(0.1em 0.1em 0.175em #e0ee20)
    drop-shadow(-0.1em -0.1em 0.175em #eeff01);
  color: rgba(0, 0, 0, 0.849);
}

.react-icon {
  filter: drop-shadow(0.1em 0.1em 0.175em #2a9bb8)
    drop-shadow(-0.1em -0.1em 0.175em #01c7f8);
  color: rgba(0, 0, 0, 0.849);
}
/* Styles for About Me */

.about-content {
  width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.about-content > p {
  font-size: 1.4em;
  line-height: 1.5em;
  text-align: center;
  text-wrap: pretty;
}

/* Styles for Websites */

.website-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  gap: 1.5em;
}

.website-content > p {
  font-size: 1.4em;
  line-height: 1.5em;
  text-align: center;
  text-wrap: pretty;
  max-width: 40em;
}

.website-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.website-examples > div {
  width: 25em;
  height: 15em;
}

/* Styles for WebApps */

.web-apps-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  gap: 1.5em;
}

.web-apps-content > p {
  font-size: 1.4em;
  line-height: 1.5em;
  text-align: center;
  text-wrap: pretty;
  max-width: 40em;
}

.web-apps-examples {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.web-apps-examples > div {
  width: 25em;
  height: 15em;
}

/* Project styles */

.projects > h2 {
  font-weight: 300;
}

.projects {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1em;
  padding: 1em;
  background: white;
  -webkit-box-shadow: 0px 25px 67px -9px rgba(92, 175, 219, 0.61);
  -moz-box-shadow: 0px 25px 67px -9px rgba(92, 175, 219, 0.61);
  box-shadow: 0px 25px 67px -9px rgba(92, 175, 219, 0.61);
  border-radius: 1em;
  transition: box-shadow 200ms ease;
}

.projects:hover {
  -webkit-box-shadow: 0px 25px 67px -9px rgba(92, 175, 219, 0.61);
  -moz-box-shadow: 0px 25px 67px -9px rgba(92, 175, 219, 0.61);
  box-shadow: 0px 25px 67px -9px rgba(57, 111, 139, 0.61);
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.project-links > a {
  color: black;
}

/* Contact Styles */

.contact-content {
  width: 42em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: white;
  padding: 1em;
  text-align: center;
  box-shadow: 0px 25px 67px -9px rgba(92, 175, 219, 0.61);
  border-radius: 1em;
  transition: box-shadow 200ms ease;
}

.contact-content:hover {
  webkit-box-shadow: 0px 25px 67px -9px rgba(92, 175, 219, 0.61);
  -moz-box-shadow: 0px 25px 67px -9px rgba(92, 175, 219, 0.61);
  box-shadow: 0px 25px 67px -9px rgba(57, 111, 139, 0.61);
}

.contact-content > form {
  display: flex;
  flex-direction: column;
  height: 30em;
  gap: 1em;
}

.contact-content > form > .form-top {
  display: flex;
  gap: 1em;
}

.contact-content > form > .form-top > input {
  padding: 0.5em 0.5em 0.15em 0.5em;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  font-size: 1.15em;
  color: black;
  opacity: 1;
}

.form-top > input::placeholder {
  font-size: 1f5em;
  opacity: 1;
  color: black;
}

.form-top > input:autofill {
  background-color: white;
}

input:active {
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset; /*your box-shadow*/
}

.contact-content > form > textarea {
  resize: none;
  height: 25em;
  padding: 0.75em 0.75em;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.05em;
  font-family: "Outfit";
}

.input-button {
  font-size: 1.25em;
  padding: 0.25em;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid black;
  width: 7em;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .about-content {
    width: 100%;
  }

  .contact-content {
    width: 23em;
  }

  .contact-content > form > .form-top > input {
    width: 8em;
  }

  .web-apps-examples > div {
    width: 23em;
    height: 15em;
  }

  .website-examples > div {
    width: 23em;
    height: 15em;
  }
}
